<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur5_with_tool">

  <!-- Base UR5 description -->
  <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro" />

  <!-- Tool link -->
  <link name="custom_tool">
    <visual>
      <origin xyz="0 0 0.3" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.02" length="0.6"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 0.6"/>
      </material>
    </visual>
  </link>

  <joint name="wrist_3_to_tool" type="fixed">
    <parent link="wrist_3_link"/>
    <child link="custom_tool"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
